{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="pt-3">Contact</h1>
  <p>E-mail: <a href="<a href="mailto:joe@example.com">joe@example.com</a></p>
  <p>Phone: 980 123 45 67</p>
  <h1 class="pt-3">About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida nibh suscipit mollis. Donec consectetur sapien consequat diam faucibus maximus. Maecenas molestie, risus at tristique maximus, turpis libero tincidunt sapien, at consectetur est nisi sed orci. Nullam sed lacus id felis finibus mattis quis et elit. Cras sit amet interdum nisi, sed feugiat dui. Donec justo mauris, viverra nec orci eget, iaculis suscipit magna. Proin id purus sagittis, facilisis justo et, mollis mauris. Praesent cursus ex ac sapien iaculis vehicula. Donec varius elit non commodo ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla varius blandit varius. Vivamus non leo fermentum, imperdiet sem faucibus, ullamcorper urna.

Maecenas vehicula, elit sed rutrum sagittis, sapien elit congue ligula, at interdum turpis sem sed nisl. Pellentesque lectus elit, dapibus in congue porttitor, elementum quis tortor. Sed maximus vel mauris ac porttitor. Curabitur vel eleifend ante. Etiam sed elit nec purus dictum rutrum. Vivamus quis metus velit. Aliquam faucibus neque vitae sem ultricies sagittis. Etiam sem neque, efficitur sit amet accumsan at, convallis ut urna. Maecenas risus purus, mattis at varius at, rutrum vel ligula. Nullam eros lectus, bibendum vel hendrerit iaculis, accumsan eget mauris.

Nullam maximus eleifend nisi, tincidunt tincidunt quam cursus vel. In ut auctor tortor. Pellentesque auctor augue erat, sed volutpat massa ultricies vitae. Sed nisi nibh, viverra congue sem faucibus, congue posuere velit. In aliquam quam tortor, nec bibendum est aliquam a. Etiam euismod nulla et sollicitudin lacinia. Praesent quis eros non neque elementum porttitor. Curabitur mattis nulla vel vulputate sollicitudin. Aenean gravida, felis sed suscipit ullamcorper, est diam ornare libero, quis commodo nulla mauris sit amet neque. In tincidunt mollis odio, sit amet pellentesque purus dapibus id. Phasellus hendrerit porta iaculis. Donec tincidunt varius nisi fringilla blandit. Sed mollis nulla pharetra odio rhoncus rutrum. Nunc feugiat fermentum tellus, vitae molestie purus rhoncus et. Sed eget vestibulum purus. Quisque sit amet interdum lacus.</p>
</div>

{% endblock %}
